* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-div {
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 0;
  box-shadow: 0 10px 10px -10px #333;
  margin-top: -50px;
}

.leftside,
.rightside {
  height: 100vh;
  width: 100vw;
}

.product-demo {
  background: white;

  height: 100vh;
  width: 100vw;
}

.demo-info {
  padding: 2em;
}
.prod-demo-img {
  display: block;
  width: 60vw;
  border-radius: 5px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.demo-label-title {
  font-size: 7vh;
  font-weight: 500;
}

.demo-text {
  font-size: 2.5vh;
  color: rgb(82, 82, 82);
}

.register-page {
  height: 100vh;
  width: 100%;
  background: #2d3032;
}

.register-div-form {
  display: block;
  text-align: center;
}

.home-btn {
  margin: 2vw;
  max-width: 10vw;
  max-height: 6vh;
  border-radius: 10px;
  flex: 1;
}

.register-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
  padding: 4vh 6vw;
  border: solid 2px #9615db;
  border-radius: 5px;
}

.leftside {
  background: #2d3032;
}

.rightside {
  background: white;
  background-image: url("./components/landingPage.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-size: 6vh;
  padding: 0.5em;
  padding-left: 0.1em;
}

.nav-links {
  font-size: 2.5vh;
  font-weight: 300;
  padding-left: 5em;
}

.nav-logo {
  height: 7vh;
  width: 6vw;
  padding-bottom: 0.2em;
}

.landing-text {
  padding: 3em;
  padding-left: 5em;
}

.landing-text label {
  color: white;
  font-size: 4vw;
}

.landing-text p {
  color: rgba(255, 255, 255, 0.534);
  font-weight: 200;
  font-size: 1.2vw;
}

.login-btn {
  background-color: transparent;
  border-color: #9615db;
  margin-top: 3vh;
  padding: 1vh 1.5vw;
}
.login-btn:hover {
  background-color: #9615db;
}
.form-modal {
  display: flex;
  height: 100vh;
  max-width: 50%;
  padding-left: 3em;
}

.registerLink {
  font-size: 1vw;
  color: white;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 5vh;
    padding-top: 0.5em;
    padding-left: 0.1em;
  }
  .nav-logo {
    height: 17vh;
    width: 14vw;
  }
  .mr-auto {
    margin-top: -30px;
    text-align: center;
  }
  .landing-text {
    padding: 7vw;
    padding-top: 0;
  }

  .landing-text label {
    color: white;
    font-size: 8vw;
  }

  .landing-text p {
    color: rgba(255, 255, 255, 0.534);
    font-weight: 200;
    font-size: 4vw;
  }

  .rightside {
    height: 60vh;
  }

  .form-modal {
    height: 100vh;
    max-width: 100%;
    padding: 3vw;
  }

  .login-form {
    max-width: 100%;
    padding: 1vw;
  }

  .home-btn {
    margin: 2vw;
    max-width: 20vw;
    max-height: 7vh;
    border-radius: 10px;
    flex: 1;
  }
  .register-form {
    margin-top: 4vh;
  }
  .register-labels {
    font-size: 2vh;
  }

  .registerLink {
    font-size: 1.7vh;
    font-weight: 300;
    text-decoration: underline;
  }
  .demo-info {
    padding: 1em;
  }

  .demo-label-title {
    text-align: center;
    font-size: 8vw;
    font-weight: 500;
  }

  .demo-text {
    font-size: 4vw;
    font-weight: 200;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: rgb(102, 101, 101);
  }

  .prod-demo-img {
    width: 90vw;
  }
}
