* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-links-auth {
  padding: 0;
}
.auth-btn {
  border-radius: 5px;
  background: transparent;
  border-color: #9615db;
  margin-bottom: 1em;
  padding: 0.8vw;
  font-size: 1vw;
  font-weight: 300;
  border-style: solid;
  color: white;
}

.page-div {
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 0;
  box-shadow: 0 10px 10px -10px #333;
  margin-top: -50px;
}

.leftside,
.rightside {
  height: 100vh;
  width: 100vw;
}

.product-demo {
  background: white;

  height: 100vh;
  width: 100vw;
}
.slogan-p {
  text-align: justify;
}

.demo-info {
  padding: 2em;
}
.prod-demo-img {
  display: block;
  width: 60vw;
  border-radius: 5px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.demo-label-title {
  font-size: 7vh;
  font-weight: 500;
}

.demo-text {
  font-size: 2.5vh;
  color: rgb(82, 82, 82);
}
.pricesPage {
  background-color: white;
  min-height: 100vh;
  color: #2d3032;
}
.prices-row {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.price-tag {
  color: red;
  text-align: center;
  font-size: 3.5vh;
  font-weight: 500;
}
.prices-col {
  margin: 1em;
  border: 3px solid #9615db;
  border-radius: 5px;
}
.price-features-list li {
  list-style: none;
  margin: 1em;
}

.col-header {
  font-weight: 500;
  font-size: 5vh;
}

.buy-div-btn {
  text-align: center;
}

.buy-div-btn button {
  margin: 1em;
}
.contact-page {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background: #2d3032;
}
.contact-page-container {
  min-height: 100vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em !important;
  background: transparent;
}
.form-group-contact {
  padding: 1vh;
}
.contact-form {
  margin-right: 3vw;
  margin-left: 3vw;
  border: solid 2px #9615db;
  padding: 1em;
  border-radius: 5px;
  color: white;
}
.header-label-contact {
  font-size: 6vh;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0;
  color: white;
}
.contact-go-home-link {
  padding: 2vh;
  font-weight: 500;
  color: #9615db;
}
.contact-go-home-link:hover {
  color: #d6b1eb;
}

.thanks-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #2d3032 0%, #9615db 100%);
}
.thanks-go-home-link {
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 1.5vh;
}

.thanks-logo img {
  overflow: auto;
  display: block;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
}
.thanks-go-home-link:hover {
  padding: 2vh;
  color: #d6b1eb;
}

/* .register-page {
  max-height: 120vh;
  overflow: hidden;
  width: 100%;
  background: #2d3032;
} */

.register-page {
  display: flex;
}

.errors-register li {
  padding: 0.5em;
  /* border-color: rgba(255, 0, 0, 0.705); */
}

/* .register-div-form {
  display: block;
  text-align: center;
} */

.register-div-form {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  padding: 2em;
  overflow: hidden;
  width: 40vw;
}
.home-btn {
  margin: 1vw;
  max-width: 10vw;
  max-height: 6vh;
  border-radius: 10px;
  flex: 1;
}

.error-reg-btn {
  margin: 2vw;
  max-width: 15vw;
  max-height: 6vh;
}
/* 
.register-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
  padding: 4vh 6vw;
  border: solid 2px #9615db;
  border-radius: 5px;
  margin-bottom: 1em;
} */

.leftside {
  background: #2d3032;
}

.rightside {
  background: white;
  background-image: url("./components/landingPage.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-size: 6vh;
  padding: 0.5em;
  padding-left: 0.1em;
}

.nav-links {
  font-size: 2.5vh;
  font-weight: 300;
  padding-left: 5em;
}

.nav-logo {
  height: 7vh;
  width: 6vw;
  padding-bottom: 0.2em;
}

.landing-text {
  padding: 3em;
  padding-left: 5em;
}

.landing-text label {
  color: white;
  font-size: 4vw;
}

.landing-text p {
  color: rgba(255, 255, 255, 0.534);
  font-weight: 200;
  font-size: 1.2vw;
}

.login-btn {
  background-color: transparent;
  border-color: #9615db;
  border: 5px;
  margin-top: 3vh;
  padding: 1vh 1.5vw;
}

.form-modal {
  display: flex;
  height: 100vh;
  max-width: 50%;
  padding-left: 3em;
}

.registerLink {
  font-size: 1vw;
  color: white;
}

.register-success {
  font-size: 1vw;
  color: #9615db;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #9615db, #2d3032);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #393c3d, #2d3032);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  list-style: none;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 5vh;
    padding-top: 0.5em;
    padding-left: 0.1em;
  }
  .nav-logo {
    height: 17vh;
    width: 14vw;
  }
  .mr-auto {
    margin-top: -30px;
    text-align: center;
  }
  .landing-text {
    padding: 7vw;
    padding-top: 0;
  }

  .landing-text label {
    color: white;
    font-size: 8vw;
  }

  .landing-text p {
    color: rgba(255, 255, 255, 0.534);
    font-weight: 200;
    font-size: 4vw;
  }

  .rightside {
    height: 60vh;
  }

  .form-modal {
    height: 100vh;
    max-width: 100%;
    padding: 3vw;
  }

  .login-form {
    max-width: 100%;
    padding: 1vw;
  }

  .home-btn {
    margin: 2vw;
    max-width: 20vw;
    max-height: 7vh;
    border-radius: 10px;
    flex: 1;
  }

  .error-reg-btn {
    margin: 2vw;
    max-width: 45vw;
    max-height: 7vh;
    float: right;
  }

  .login_alert {
    color: red !important;
    font-size: 4vw;
  }

  .register-form {
    margin-top: 4vh;
  }
  .register-labels {
    font-size: 2vh;
  }

  .registerLink {
    font-size: 1.7vh;
    font-weight: 300;
    text-decoration: underline;
  }

  .register-success {
    font-size: 2.7vh;
    color: #bc6be7;
  }

  .demo-info {
    padding: 1em;
  }

  .demo-label-title {
    text-align: center;
    font-size: 8vw;
    font-weight: 500;
  }

  .demo-text {
    font-size: 4vw;
    font-weight: 300;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: rgb(133, 131, 131);
  }

  .prod-demo-img {
    width: 90vw;
  }
  .register-page {
    min-height: 100vh;
    width: 100%;
    background: #2d3032;
  }
  .contact-page-container {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .header-label-contact {
    font-size: 6vh;
    font-weight: 500;
    text-align: center;
    padding: 0;
  }
  .form-group-contact {
    padding: 0.5vh;
  }

  .contact-go-home-link {
    padding: 2vh;
    color: #9615db;
  }

  .thanks-go-home-link {
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 2vh;
    font-size: 2vh;
  }
  .thanks-logo img {
    margin-top: 4em;
    width: 100%;
    height: 35vh;
  }

  .auth-btn {
    border-radius: 5px;
    border: 2px;
    background: transparent;
    border-color: #9615db;
    margin-bottom: 1em;
    padding: 0.7vh;
    font-size: 2vh;
    font-weight: 300;
    border-style: solid;
    color: white;
  }

  .prices-row {
    width: 100vw;
  }
}
